src/main/resources/wsdl/brevsystem.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.insurancetest.org/fagsystem/brevsystem/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="brevsystem" targetNamespace="http://www.insurancetest.org/fagsystem/brevsystem/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.insurancetest.org/fagsystem/brevsystem/">
      
      
      <xsd:complexType name="SendAvtaleRequest">
      	<xsd:sequence>
      		<xsd:element name="adresse" type="tns:Adresse"></xsd:element>
      		<xsd:element name="person" type="tns:Person"></xsd:element>
      		<xsd:element name="AvtalePDF" type="xsd:hexBinary"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SendAvtaleResponse">
      	<xsd:sequence>
      		<xsd:element name="status" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="Adresse">
      	<xsd:sequence>
      		<xsd:element name="adresse1" type="xsd:string"></xsd:element>
      		<xsd:element name="adresse2" type="xsd:string"></xsd:element>
      		<xsd:element name="postNummer" type="xsd:string"></xsd:element>
      		<xsd:element name="Poststed" type="xsd:string"></xsd:element>
      		<xsd:element name="land" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      
            <xsd:complexType name="Person"></xsd:complexType>
            <xsd:complexType name="GenericFault"></xsd:complexType>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="sendAvtaleRequest">
    <wsdl:part name="sendAvtaleRequest" type="tns:SendAvtaleRequest"/>
  </wsdl:message>
  <wsdl:message name="sendAvtaleResponse">
    <wsdl:part name="sendAvtaleResponse" type="tns:SendAvtaleResponse"/>
  </wsdl:message>
  <wsdl:message name="sendAvtaleFault">
  	<wsdl:part name="sendAvtaleFault" type="tns:GenericFault"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="brevsystem">
    <wsdl:operation name="sendAvtale">
      <wsdl:input message="tns:sendAvtaleRequest"/>
      <wsdl:output message="tns:sendAvtaleResponse"/>
            <wsdl:fault name="fault" message="tns:sendAvtaleFault"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="brevsystemSOAP" type="tns:brevsystem">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sendAvtale">
      <soap:operation soapAction="http://www.insurancetest.org/fagsystem/brevsystem/sendAvtale"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="brevsystem">
    <wsdl:port binding="tns:brevsystemSOAP" name="brevsystemSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
